@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans condensed;

}
.container{
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 600px;
    background: ;
    display: grid;
    grid-template-columns: 3fr 2fr;
    box-shadow: black;
    margin: 2rem;
}

.scr_left{
    background: rgb(32, 32, 32);
    height: 100vh;
    width: 30%;
    margin: 3%;
    padding: 3%;
}
.me_image{
    padding: auto;
    margin:auto;
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
   
}
.sub_left{
    text-align: center;
    color: white;
    font-size: 25px;
}
.p_left{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title_name{
    margin-top:auto; 
     text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    color: black;
    
}
.scr_right{
    background-color: white;
    width: 70%;
    height: 100vh;
    margin: 3%;
    padding: 3%;
}
.sub_right {
    margin-inline: 15%;
    font-size: 25px;
    color:rgb(25, 5, 82);
    
}
.p_right{
    margin-inline: 15%;
    color:black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
