body {
  margin: 0;
  padding: 0;  
}

.scr_left{
    background: linear-gradient(to bottom,rgb(25, 5, 82),rgb(11, 6, 73),rgb(40, 4, 56));
    height: 100vh;
    width: 50%;
}
.me_image{
    margin:auto;
    display: block;
    width: 30%;
    height: 30%;
    border-radius: 50%;
   
}
.sub_left{
    margin-inline: 15%;
    color: white;
    font-size: 25px;
}
.p_left{
    margin-inline: 15%;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title_name{
     text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    color: black;
    
}
.scr_right{
    background-color: white;
    width: 50%;
    height: 100vh;
}
.sub_right {
    margin-inline: 15%;
    font-size: 25px;
    color:rgb(25, 5, 82);
    
}
.p_right{
    margin-inline: 15%;
    color:black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#split_screen{
    display:flex;
}