:root {
  --base: #f6f6f6;
  --primary: #383838;
  --secondary: #c2c2c2;
  --icon: #f19d1f;
  --dark_secondary: rgb(48, 48, 48);
  --dark_primary:rgb(46, 46, 46) ;
  --dark_base: rgb(31, 31, 31);
}

body {
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  font-size: 16px;
  transition: 0.3s ease all;
}

body.dark {
    background: var(--dark_secondary);
}

.container {
  position: relative;
  width: 90%;
  max-width: 62rem;
  min-height: 31rem;
  background: var(--base);
  display: grid;
  grid-template-columns: 4fr 5fr;
  box-shadow: 5px 5px 5px 5px rgb(71, 71, 71);
  margin: 2rem;
}

body.dark .container {
    box-shadow: 5px 5px 5px 5px rgb(126, 125, 125);
}

@media (max-width: 580px) {
  .container {
    grid-template-columns: 1fr;
  }
}
